# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
cities_df = pd.read_csv("cities.csv")

cities_df.head()

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,mataura,NZ,0,1586559974,74,-46.19,168.86,59.00,5.99
1,surt,LY,48,1586559974,57,31.21,16.59,58.71,9.69
2,cidreira,BR,5,1586559975,77,-30.18,-50.21,64.67,6.71
3,punta arenas,CL,75,1586559975,75,-53.15,-70.92,44.60,9.17
4,bluff,NZ,0,1586559975,74,-46.60,168.33,59.00,5.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
gmaps.configure(api_key=g_key)

In [16]:
locations = cities_df[["Lat", "Lng"]].astype(float)
humidity = cities_df["Humidity"].astype(float)

In [17]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)


#fig = gmaps.figure(center=(51.5, -0.2), zoom_level=3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
weather_criteria = cities_df.loc[(cities_df["Max Temp"] > 70) & (cities_df["Max Temp"] < 80) 
                                 & (cities_df["Windspeed"] < 10) & (cities_df["Cloudiness"] == 0)]
weather_criteria = weather_criteria.dropna()
weather_criteria_ni = weather_criteria.reset_index(drop=True)
weather_criteria_ni

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,mathbaria,BD,0,1586559908,93,22.29,89.96,75.51,1.52
1,tura,IN,0,1586560033,48,25.52,90.22,70.88,2.95
2,palasa,IN,0,1586560065,57,18.77,84.42,79.23,6.78
3,cockburn town,TC,0,1586560067,71,21.46,-71.14,79.02,2.59
4,port hedland,AU,0,1586560103,88,-20.32,118.57,71.60,5.82
5,balurghat,IN,0,1586560114,71,25.22,88.77,72.55,5.01
6,satana,IN,0,1586560114,17,20.58,74.20,78.08,5.01
7,puerto maldonado,PE,0,1586560123,61,-12.60,-69.18,72.48,2.39

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
hotel_df = pd.DataFrame(weather_criteria_ni)
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Windspeed,Hotel Name
0,mathbaria,BD,0,1586559908,93,22.29,89.96,75.51,1.52,
1,tura,IN,0,1586560033,48,25.52,90.22,70.88,2.95,
2,palasa,IN,0,1586560065,57,18.77,84.42,79.23,6.78,
3,cockburn town,TC,0,1586560067,71,21.46,-71.14,79.02,2.59,
4,port hedland,AU,0,1586560103,88,-20.32,118.57,71.60,5.82,
5,balurghat,IN,0,1586560114,71,25.22,88.77,72.55,5.01,
6,satana,IN,0,1586560114,17,20.58,74.20,78.08,5.01,
7,puerto maldonado,PE,0,1586560123,61,-12.60,-69.18,72.48,2.39,

In [11]:
params = {
    
    "keyword": "hotel",
    "radius": 5000,
    "type": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    lat = row['Lat']
    lng = row['Lng']

    params["location"] = f"{lat},{lng}" 
    
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    except:
        hotel_df.loc[index, "Hotel Name"] = "NaN"
hotel_df

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Windspeed,Hotel Name
0,mathbaria,BD,0,1586559908,93,22.29,89.96,75.51,1.52,প্রিন্স হোটেল মঠবাড়িয়া
1,tura,IN,0,1586560033,48,25.52,90.22,70.88,2.95,Hotel Polo Orchid
2,palasa,IN,0,1586560065,57,18.77,84.42,79.23,6.78,Hotels at kssibugga
3,cockburn town,TC,0,1586560067,71,21.46,-71.14,79.02,2.59,Bohio Dive Resort
4,port hedland,AU,0,1586560103,88,-20.32,118.57,71.60,5.82,ibis Styles Port Hedland
5,balurghat,IN,0,1586560114,71,25.22,88.77,72.55,5.01,Hotel Serena
6,satana,IN,0,1586560114,17,20.58,74.20,78.08,5.01,Jai Jai Gaurishankar Hotel
7,puerto maldonado,PE,0,1586560123,61,-12.60,-69.18,72.48,2.39,Wasai Hotel

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = hotel_df[["Hotel Name","City","Country"]]


# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_info.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))